

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.menu {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;;
}

label {
    display: block;
}
body{
    background-color: #f7f7f9;
}

h4 {
    padding: 10px;
}

label {
    padding-left: 40px;
}

.test_item_ok .danger {
    background: green;
}

.panel {
    position: fixed;
    top: 0;
    left: 0;
}